In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%config SqlMagic.autopandas=True

In [7]:
import pandas as pd
import sqlite3

In [8]:
%%sql sqlite://
    create table presidents (first_name, last_name, year_of_birth);
    insert into presidents values('Georg', 'Washington', 1732);
        insert into presidents values('John', 'Adams', 1735);
            insert into presidents values('Thomas', 'Jefferson', 1743);
                insert into presidents values('James', 'Madison', 1751);

Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

Empty DataFrame
Columns: []
Index: []

In [10]:
later_presidents = %sql select * from presidents where year_of_birth > 1700
later_presidents

 * sqlite://
Done.

  first_name   last_name  year_of_birth
0      Georg  Washington           1732
1       John       Adams           1735
2     Thomas   Jefferson           1743
3      James     Madison           1751

In [11]:
type(later_presidents)

pandas.core.frame.DataFrame

In [12]:
con = sqlite3.connect('presidents.sqlite')
later_presidents.to_sql('presidents', con, if_exists='replace')

4

In [13]:
con = sqlite3.connect('presidents.sqlite')
cur = con.cursor()

new_dataframe = pd.read_sql('select * from presidents', con=con)
con.close()
new_dataframe

   index first_name   last_name  year_of_birth
0      0      Georg  Washington           1732
1      1       John       Adams           1735
2      2     Thomas   Jefferson           1743
3      3      James     Madison           1751